<div class="container">
  <div class="row mt-4">
    <h3>会員一覧</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>会員ID</th><th>氏名</th><th>メールアドレス</th><th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id), class: "text-reset", style: "border-bottom: 1px solid black;" do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                  <strong class="text-success">有効</strong>
              <% else %>
                <strong class="text-secondary">退会</strong>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>