<div class="container">
  <div class="row mt-4">
    <h3>ショッピングカート</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <table class="table table-bordered">
        <thead class="bg-light">
          <tr>
            <th>商品名</th><th>単価(税込)</th><th>数量</th><th>小計</th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.get_item_image(120,80) %>　<%= cart_item.item.name %></td>
            <td><%= cart_item.item.taxin_price %></td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item) do |f| %>
                <%= f.select :amount, *[1..50] %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= cart_item.subtotal %></td>
            <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
            <% @total_price +=  cart_item.subtotal %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-auto text_left">
      <%= link_to "買い物を続ける", top_path, class: "btn btn-primary" %>
    </div>
    <div class="col-auto text_right">
      <table class="table table-bordered">
        <tr>
          <th class="bg-lighr">合計金額</th><td><%= @total_price %></td>
        </tr>
      </table>
    </div>
  </div>
</div>