<div class="container mt-5">
  
  <h4>新規会員登録</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  
  <div class="row mb-2">
      <div class="field">
        <dev class="col-2">
          <%= f.label "名前" %>
        </div>
        <dev class="col-auto">
          (姓) <%= f.text_field :last_name %>
        </dev>
        <dev class="col-auto">
          (名) <%= f.text_field :first_name %>
        </dev>
      </dev>
    </div>
    
    <div class="row mb-2">
      <div class="field">
        <dev class="col-auto">
          <%= f.label "フリガナ" %>
        </div>
        <dev class="col-auto">
          (セイ) <%= f.text_field :last_name_kana %>
        </dev>
        <dev class="col-auto">
          (メイ) <%= f.text_field :first_name_kana %>
        </dev>
      </dev>
    </div>
  
    <div class="row mb-2">
      <div class="field">
        <dev class="col-2">
          <%= f.label "メールアドレス" %>
        </div>
        <dev class="col-10">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </dev>
      </dev>
    </div>
    
    <div class="row mb-2">
      <div class="field">
        <dev class="col-auto">
          <%= f.label "郵便番号(ハイフンなし)" %>
        </div>
        <dev class="col-auto">
          <%= f.text_field :postal_code %>
        </dev>
      </dev>
    </div>
    
    <div class="row mb-2">
      <div class="field">
        <dev class="col-auto">
          <%= f.label "住所" %>
        </div>
        <dev class="col-auto">
          <%= f.text_field :address %>
        </dev>
      </dev>
    </div>
    
    <div class="row mb-2">
      <div class="field">
        <dev class="col-auto">
          <%= f.label "電話番号(ハイフンなし)" %>
        </div>
        <dev class="col-auto">
          <%= f.text_field :telephone_number %>
        </dev>
      </dev>
    </div>

    <div class="row mb-2">
      <div class="field">
        <%= f.label "パスワード(6文字以上)" %>
        <% if @minimum_password_length %>
        <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>
  
    <div class="row mb-2">
      <div class="field">
        <%= f.label "パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  
    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  <% end %>

  <h4 class="mt-4">すでに登録済みの方</h4>
  <p><%= link_to 'こちら', new_customer_session_path %>からログインしてください。</p>

</div>

