<div class="container">
  <div class="row mt-4">
    <div class="col-10 float-left">
      <h3>注文情報入力</h3>
    </div>
  </div>
  <%= form_with model: @order, url: order_confirm_path do |f| %>
    <div>
      <h5 class="mt-4"><strong>支払い方法</strong></h5>
      <p>
        　<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      <br>
        　<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </p>
      
      <h5 class="mt-2"><strong>お届け先</strong></h5>
      <p>
        　<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
        <%= f.label :payment_method_credit_card, "ご自身の住所" %>
      <br>
        　<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
        <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      </p>
    </div>
    
  <% end %>
  <div class="row justify-content-center">
    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
  </div>
</div>