<div class="container px-5 px-sm-0 justify-content-center">
  <div class="row mt-4">
    <%= render 'public/homes/sidebar', genres: @genres %>
    <div class="col-md-10">
      <h3><strong><%= @genre %>一覧</strong></h3><h4>（全<%= @count %>件）</h4><br>
      <div class="mt-4 d-flex flex-wrap">
        <% @items.each do |item| %>
          <div class="p-2 card w-25">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_item_image(180,150) %><br>
              <p><%= item.name %></p>
              <p>¥<%= item.price %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @items %>
  </div>
</div>