<main>
  <div class="container px-5 px-sm-0 justify-content-center">
    <div class="row mt-4">
      <%= render 'public/homes/sidebar', genres: @genres %>
      <div class="col-3 mt-4">
        <%= image_tag @item.get_item_image(260,250) %>
      </div>
      <div class="col-6 mt-4">
        <h3><%= @item.name %></h3>
        <p><%= @item.introduction %></p>
        <p class="my-5">¥<%= @item.taxin_price.floor %>（税込）</p>
        <p>
          <%= form_with model: @cart_items, url: cart_items_path do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, *[1..50], :placeholder => "個数選択" %>　
            <%= f.submit "カートに入れる", class: "btn btn-success" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</main>